.progressBar{
	margin-top:16px!important;
	margin-bottom:16px!important;
	color:#000!important;
	background-color:#f1f1f1!important;
	height: 50px;
	width: 100%;
}
.loader{
	display:inline-block;
	text-align:center;
	height: 100%;
}
