.progressBar{
	margin-top:16px!important;
	margin-bottom:16px!important;
	color:#000!important;
	background-color:#f1f1f1!important
}
.loader{
	padding:0.01em 16px;
	padding:20px 24px;
	color:#fff;
	background-color:#f44336;
	display:inline-block;
	width:auto;
	text-align:center
}
