.Alerts{
    display: flex;
    background-color: #d30404;
    width: 320px;
    border-radius: 0px 0px 26px 26px;
}
#userImg{
    height: 90px;
    width: 130px;
    border-radius: 50%;
    margin-left: 20px;
    padding: 20px 0;
}

.Alerts-text{
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}
.Alerts-text span{
    color: white;
    padding-top: 13px;
}