.achievement{
    display: flex;
    background: linear-gradient(to bottom, #3e3e3c,#232323);
    width: 352px;
    height: 125px;
    padding-top: 20px;
    padding-left: 20px;
    animation-name: moveRightToLeft;
    animation-duration: 1s;
}

@keyframes moveRightToLeft {
    from {
        margin-right: -352px;
    }
    to {
        margin-right: 352px;
    }
}

.achievement-text{
    display: flex;
    flex-direction: column;
    padding-left: 14px;
}
.achievement-text>span{
    padding-top: 15px;
    font-size: 20px;
}
.ach-span1{
    color: #eaebe9;
}
.ach-span2{
    color: #727470;
}
#achievement-img{
    width: 95px;
    height: 100px;
}